<f:layout name="Default"/>

<f:section name="Title"></f:section>

<f:section name="Content">
	<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
		<f:then>
			<div class="alert alert-success">
				<p><f:translate id="lelesys.plugin.newsletter.confirmation">Newsletter Subscription Confirmation Plugin</f:translate></p>
			</div>
		</f:then>
		<f:else>
			<div class="container">
				<div class="row">
					<f:render partial="FlashMessage" />
				</div>
			</div>
		</f:else>
	</f:security.ifAccess>

</f:section>