.error {
	color: #B94A48 !important;
}
.neos-container-fluid legend {
	color: #fff;
}
select[multiple]{
	height: 100px !important;
}

#staticList .form-error {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
}
#newsletter-dataTable tr:first-child th:hover {
	cursor: pointer;
	text-decoration: underline;
}
.neos-controls .create-button {
	margin-top: 15px;
}
.attachment {
	float: left;
}