<div class="container">
	<div class="masthead">
		<div class="row">
			<div class="col-sm-6">
				<h1><a href="/">Lelesys</a></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2>
				Hello {user.name}!!!
			</h2>
			<div>
				<h6>Thank you for Subscribing to our Newsletter. Please Confirm.</h6>
				<a href="{url}?user={user.uuid}&code={code}"><button style="background-color: #428BCA;border: none;border-color: #357EBD;color: #FFFFFF;padding: 6px 12px;border-radius: 4px;cursor: pointer;">Yes, subscribe me</button></a>
				<p>Please click the button above to start receiving your free copy of Daily Newsletter.</p>
			</div>
		</div>
	</div>
	<hr />
	<footer class="row">
		<div class="col-sm-11">Website integrated by <a href="http://www.lelesys.com/?ref=starter-site-corporate" target="_blank">Lelesys</a></div>
	</footer>
</div>